.loading {
  height: 100vh;
  background-color: rgba(255, 0, 0, 0);
  align-items: center;
  justify-content: center;
  display: flex;
}

.loading div {
  background-color: rgb(25 118 210);
  width: 20px;
  height: 20px;
  margin: 20px;
  border-radius: 50px;
  animation-name: load;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;
  justify-content: center;
}

.loading .a {
  animation-delay: .3s;
}

.loading .u {
  animation-delay: .6s;
}

@keyframes load {
  0% {
    transform: translateY(50px) scale(1);
  }

  100% {
    transform: translateY(10px) scale(1.8) rotate(360deg);
  }
}